@model  GlobalReportingSystem.Core.Models.Entities.HostsConfiguration
<div class="modal-body">
    <div>
        <label class="labelForm">
            Name
        </label>
        <div class="input-group">
            <input type="text" id="modelName-@Model.ID" class = "form-control labelForm" value="@Model.EnvironmentName"/>
            <span class="input-group-addon">
                <i class="ace-icon fa fa-pencil bigger-110"></i>
            </span>
        </div>
        <hr />
    </div>
    <hr />
    <div>
        <label class="labelForm">
            Application Url
        </label>
        <div class="input-group">
            <input type="text" id="modelUrl-@Model.ID" class = "form-control labelForm" value="@Model.ApplicationURL"/>
            <span class="input-group-addon">
                <i class="ace-icon fa fa-pencil bigger-110"></i>
            </span>
        </div>
        <hr />
    </div>
    <hr />
    <div>
        <label class="labelForm">
            Host File Content
        </label>
        <div class="input-group">
            <input type="text" id="modelContent-@Model.ID" class = "form-control labelForm" value="@Model.HostFileContent"/>
            <span class="input-group-addon">
                <i class="ace-icon fa fa-pencil bigger-110"></i>
            </span>
        </div>
        <hr />
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-sm" data-dismiss="modal">
        <i class="ace-icon fa fa-times"></i>
        Cancel
    </button>

    <button type="submit" class="btn btn-sm btn-primary" onclick="updateEnvironment(@Model.ID)">
        <i class="ace-icon fa fa-check"></i>
        Edit
    </button>
</div>

<script>
    function updateEnvironment(id) {
        var name = $("#modelName-" + id)[0].value;
        var url = $("#modelUrl-" + id)[0].value;
        var content = $("#modelContent-" + id)[0].value;
        $.ajax({
            type: "POST",
            url: "@Url.Action("EditExecutionEnvironment")",
            data: "{ 'id': " + id + ", 'name':'" + name + "','url':'" + url + "', 'content':'" + content + "'}",
            contentType: "application/json; charset=utf-8",
            success: function () {
                location.reload();
            }
        });
    }
</script>
