@model List<GlobalReportingSystem.Core.Models.GRS.BugStatisticsModel>

<div class="row">
    <div class="row">
        <div class="col-xs-12">
            <div id="bugList">
                <table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th rowspan="2">Test Suite</th>
                            <th rowspan="2">Bugs</th>
                            <th rowspan="2">Time</th>
                            <th rowspan="2">Comments</th>
                        </tr>
                        <tr>
                            <th title="Passed">P</th>
                            <th title="Failed">F</th>
                            <th title="NotCompleted">NC</th>
                            <th title="Not Analyzed">N/A</th>
                            <th title="Analyzed">A</th>
                            <th title="Total">T</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.TestSiuteName</td>

                                <td>@item.Browser.Pass</td>
                                <td>@item.Browser.Fail</td>
                                <td>@item.Browser.NotCompleted</td>

                                <td></td>
                                <td></td>
                                <td></td>
                                <td>@String.Join(";", item.Bugs)</td>
                                <td>@item.Time</td>
                                <td>@item.Comments</td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
