@model List<GlobalReportingSystem.Core.Models.GRS.CyclesModel>
@{
    ViewBag.Title = "QuickSummary";
}

<div class="page-header">
    <h1>Quick Summary
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            See brief statistics here
        </small>
    </h1>
</div>

<div class="row">
    <div class="btn-group">
        <button class="btn btn-info btn-white btn-lg" onclick="RenderReport()">
            Select Test Cycle
            
        </button>

        <button data-toggle="dropdown" class="btn btn-info btn-white btn-lg dropdown-toggle">
            <span class="ace-icon fa fa-caret-down icon-only"></span>
        </button>
        &nbsp;
        <i id="loading"></i>
        <ul class="dropdown-menu dropdown-info dropdown-menu-right" id="cycles">
            @{
                var counter = 1;
                var classname = "";
                foreach (var cycle in @Model)
                {
                    if (!cycle.IsDeactivated)
                    {
                        if (counter == 1)
                        {
                            classname = "selected";
                        }
                <li>
                    <a id="@cycle.Id" class="@classname" onclick="SetSelected(@cycle.Id);">@cycle.Name</a>
                </li>
                        counter = 0;
                        classname = "";
                    }
                }
            }
        </ul>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-xs-12">
            <div id="quickReport"></div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function SetSelected(currId) {
        var array = $("#cycles > li > a");
        for (var i = 0; i < array.length; i++) {
            $('#' + array[i].id).removeClass("selected");
        }
        $("#" + currId).addClass("selected");
        var cycleName = $("#" + currId).text();
        $(".btn-group > button").first().text(cycleName);
    }

    function RenderReport() {
        var id = $("#cycles > li > a[class='selected']").attr('id');

        $.ajax({
            type: "POST",
            url: "@Url.Action("QuickSummaryTable", "Reporting")",
            async: true,
            data: "{'cycleId':" + id + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            beforeSend: function () {
                $("#loading").addClass("fa fa-spinner blue fa-spin");
            },
            error: function () { },
            success: function (msg) {
                $("#loading").removeClass("fa fa-spinner blue fa-spin");
                if (IsJsonString(msg) && jQuery.parseJSON(msg).type == "Error") {
                    ShowMessage(jQuery.parseJSON(msg).type, jQuery.parseJSON(msg).text);
                } else {
                    $("#quickReport").html(msg.trim());
                }
            }
        });
    }
</script>
